@model Brand
@{

}

<div>
    <h4><em>Brand Id:</em> @Model.Id</h4>
    <h4><em>Brand Name:</em> @Model.Name</h4>
    <h4><em>Brand Email:</em> @Model.Email</h4>
    <h4><em>Brand Description:</em> @Model.Description</h4>
</div>