@model Category

@{

}
<h2>Add Category</h2>
<form asp-controller="Categories" asp-action="Add" method="post">
    <label asp-for="Name"></label>
    <input type="text" name="Name" asp-for="Name" />
    <input type="submit" value="Add" />
</form>